@font-face {
    font-family: 'Doodle';
    src: url("fonts/JuneGloom.ttf");
}

h1 {
    font-family: 'Doodle';
    font-size: 80px;
    color: green;
}

.middle {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 30%;
    margin-top: -124.5px;
}


.top {
    position: absolute;
    left: 50%;
    margin-left: -80px;
}

.top span {
    font-family: 'Doodle';
    color: blue;
    font-size: 50px;
}

.top img {
    width: 80px;
}

.bottom {
    position: absolute;
    left: 50%;
    margin-left: -85px;
    bottom: 0;
}

.bottom a {
    display:inline-block;
    width: 100%;
    height: 100%;
    background-color:#ccc;
    border:1px solid ##ff0000;
}

.bottom img {
    width: 80px;
}

.bottom span {
    font-family: 'Doodle';
    font-size: 50px;
    color: blue;
    margin-left: -35px;    
}

.bottom img {
    transform: rotate(180deg);
    width: 80px;
}

.left {
    position: absolute;
    top:50%;
    margin-top: -60px;
}

.left img {
    transform: rotate(270deg);
    margin-top: -40px;
    width: 100px;
}

.left span {
    font-family: 'Doodle';
    font-size: 50px;
    color: blue;
}

.right {
    position: absolute;
    top:50%;
    right: 0;
    margin-top: -60px;
}

.right img {
    transform: rotate(90deg);
    width: 100px;
}

.right span {
    font-size: 50px;
    font-family: 'Doodle';
    color: blue;
}
